.navBarLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.navBarLeft span {
  font-size: 30px;
  margin: 10px;
  display: flex;
}
a {
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: row;
}
